<section class="flex flex-col space-y-8 px-10 sm:px-20 py-20 bg-aquamarine">
  <div class="flex flex-col container mx-auto">
    <div>
      <h2 class="text-3xl text-center font-bold">About Me</h2>
    </div>
    <div class="h-6">
    </div>
    <div class="mx-auto sm:w-1/2">
      <p class="leading-normal sm:text-justify sm:leading-loose text-xl font-light">
        I'm a mexico based 🇲🇽 developer. Computer Systems Engineering graduate.
        I'm passionate about learning new tools and spread this knowledge among others.<br><br>
        I love Javascript for Front End and Back End applications but I have experience in other languages too. 
      </p>
    </div>
  </div>
</section>
