<script>
  import BackEndCard from './../components/BackEndCard.svelte';

  let page = 0;

  let cards = [
    {
      organization: 'Ashoka',
      title: 'Millones de Agentes de Cambio',
      description: 'Creación de API',
    },
    {
      organization: 'Ashoka 2',
      title: 'Millones de Agentes de Cambio 2',
      description: 'Creación de API',
    },
  ];

  function leftClick() {
    if (page <= 0) {
      page = cards.length - 1;
    } else {
      page -= 1;
    }
  }

  function rightClick() {
    if (page >= cards.length - 1) {
      page = 0;
    } else {
      page += 1;
    }
  }
</script>

<section class="flex flex-col pt-20">
  <a name="experience" />
  <div class="container mx-auto">
    <h2 class="text-2xl text-center font-bold">
      Me as:
      <h2 class="text-hacker-green text-3xl text-center font-bold">
        Backend developer
      </h2>
    </h2>
  </div>
  <BackEndCard
    organization={cards[page].organization}
    title={cards[page].title}
    description={cards[page].description}
  />
  <div class="flex justify-center flex-grow p-20 pt-0 space-x-1">
    <button
      on:click={leftClick}
      class="flex items-center w-32 h-16 place-content-center rounded-l-lg blur bg-gray-800 hover:bg-gray-600 active:bg-gray-200 transition ease-out duration-500">
      <p class="text-center"><i class="fas fa-chevron-left" /></p>
    </button>
    <button
      on:click={rightClick}
      class="flex items-center w-32 h-16 place-content-center rounded-r-lg blur bg-gray-800 hover:bg-gray-600 active:bg-gray-200 transition ease-out duration-500">
      <p class="text-center"><i class="fas fa-chevron-right" /></p>
    </button>
  </div>
</section>
