<script>
  import FrontEndCard from '../components/FrontEndCard.svelte';
</script>

<section class="flex flex-col">
  <div class="container mx-auto">
    <h2 class="text-2xl text-center font-bold">
      Me as:
      <h2 class="text-red-600 text-3xl text-center font-bold">
        Front End developer
      </h2>
    </h2>
  </div>
  <FrontEndCard
    title="BEEDEVELOPERS"
    description="Designed the UI / UX. Developed the official website from scratch built in React and deployed in Firebase."
  />
</section>
