<section class="flex flex-col h-screen">
  <header
    class="hidden md:flex flex-row space-x-8 justify-end container p-8 text-gray-500"
  >
    <div
      class="text-gray-400 transition ease-out duration-500 hover:text-white cursor-pointer"
    >
      <a href="#experience"><h3 class="uppercase ">Experience</h3></a>
    </div>
    <div
      class="text-gray-400 transition ease-out duration-500 hover:text-white cursor-pointer"
    >
      <h3 class="uppercase ">Contact</h3>
    </div>
    <div
      class="text-gray-400 transition ease-out duration-500 hover:text-white cursor-pointer"
    >
      <a href="/documents/CV-DiegoRosas.pdf" target="_blank"
        ><h3 class="uppercase ">CV</h3></a
      >
    </div>
  </header>
  <div class="flex flex-col flex-grow pb-8">
    <div
      class="flex flex-col-reverse justify-end pt-10 sm:pt-0 sm:flex-row flex-grow"
    >
      <div
        class="p-5 inline-flex space-x-5 sm:space-x-0 sm:flex sm:flex-grow text-3xl sm:flex-col bottom-3 justify-center sm:space-y-6 md:flex text-gray-500"
      >
        <div class="h-6 w-6">
          <a
            title="Mail"
            class="visited:text-gray-500 hover:text-white transition ease-out duration-500"
            href="mailto:diegoeduardo.rosas97@gmail.com"
            ><i class="far fa-envelope" /></a
          >
        </div>
        <div class="h-6 w-6">
          <a
            title="WhatsApp"
            class="visited:text-gray-500 hover:text-white transition ease-out duration-500"
            target="blank"
            href="https://wa.me/524777660032?text=%C2%A1Hola%20Diego%21%20Te%20contacto%20desde%20tu%20p%C3%A1gina%20web.%20Soy%20..."
            ><i class="fab fa-whatsapp" /></a
          >
        </div>
        <div class="h-6 w-6">
          <a
            title="LinkedIn"
            class="visited:text-gray-500 hover:text-white transition ease-out duration-500"
            target="blank"
            href="https://www.linkedin.com/in/diego-rosas/"
            ><i class="fab fa-linkedin" /></a
          >
        </div>
        <div class="h-6 w-6">
          <a
            title="GitHub"
            class="visited:text-gray-500 hover:text-white transition ease-out duration-500"
            target="blank"
            href="https://github.com/DiegoRosas12"
            ><i class="fab fa-github" /></a
          >
        </div>
        <div class="h-6 w-6">
          <a
            title="GitLab"
            class="visited:text-gray-500 hover:text-white transition ease-out duration-500"
            target="blank"
            href="https://gitlab.com/DiegoRosas12"
            ><i class="fab fa-gitlab" /></a
          >
        </div>
      </div>
      <div class="p-10 sm:pt-40 container text-left">
        <h1 class="text-6xl sm:text-7xl font-sans font-bold leading-tight">
          Diego
        </h1>
        <h1 class="text-6xl sm:text-7xl font-sans font-bold leading-none">
          Rosas
        </h1>
        <h2 class="pt-10 text-2xl sm:text-3xl">
          The
          <b class="text-hacker-green">Backend Developer</b>
          you want. (this page stills under construction)
        </h2>
      </div>
    </div>
    <div class="flex justify-center pb-10">
      <a href="mailto:diegoeduardo.rosas97@gmail.com">
        <button
          class="bg-aquamarine hover:bg-blue-900 border-blue-400 hover:border-blue-500 transition ease-out duration-500 border-4 rounded-lg py-3 px-12"
          ><p class="text-white text-xl">Contact</p>
        </button>
      </a>
    </div>
    <div class="container mx-auto">
      <p class="text-center text-gray-400">
        Know more about me
        <i class="fas fa-chevron-down" />
      </p>
    </div>
  </div>
</section>
