<section class="flex flex-col p-20 bg-white">
  <div class="container mx-auto">
    <h2 class="text-2xl text-center text-black font-bold">
      Me as:
      <h2 class="text-3xl text-center text-black font-light">
        UI designer
      </h2>
    </h2>
  </div>
</section>