<script>
  export let organization;
  export let title;
  export let description;
</script>

<div
  class="flex flex-col sm:flex-row align-center mx-auto py-20 px-5 sm:space-x-7 space-y-6 sm:space-y-0"
>
  <div
    class="flex items-center py-3 sm:py-0 sm:w-64 sm:h-64 place-content-center rounded-lg blur bg-black border-orange sm:border-4"
  >
    <h3 class="text-orange text-center font-bold">{organization}</h3>
  </div>
  <div
    class="flex p-10 flex-grow flex-col h-64 rounded-lg opacity-90 filter-blur bg-gray-800"
  >
    <h3 class="text-lg font-bold text-orange">
      {title}
    </h3>
    <p>{description}</p>
    <div class="flex flex-grow" />
    <div
      class="h-8 w-8 text-3xl hover:text-white transition ease-out duration-500"
    >
      <a href="mailto:diegoeduardo.rosas97@gmail.com"
        ><i class="fab fa-github" /></a
      >
    </div>
  </div>
</div>
