<script>
  export let title;
  export let description;
</script>

<div class="p-10 flex flex-col md:flex-row -space-x-5 mx-auto h-screen items-center">
  <!-- <div class=""> -->
    <div
      id="picture"
      class="flex h-2/5 w-full sm:w-1/2 -right-10 rounded-md shadow-2xl z-10 bg-cover"
    />
  <!-- </div> -->
  <div
    class="px-12 py-8 flex flex-col h-3/5 sm:w-2/5 rounded-md bg-aquamarine z-0"
  >
    <h2 class="text-xl">{title}</h2>
    <hr class="text-blue-500" />
    <p>{description}</p>
    <div class="flex flex-row justify-center space-x-2 text-blue-600">
      <p>Bootstrap</p>
      <p>React</p>
    </div>
  </div>
</div>

<style>
  #picture {
    background-image: url('/images/MiniaturaFlutter.png');
  }
</style>
