<script>
  import Home from './pages/Home.svelte';
  import BackEnd from './pages/BackEnd.svelte';
  import FrontEnd from './pages/FrontEnd.svelte';
  import UI from './pages/UI.svelte';
  import AboutMe from './pages/AboutMe.svelte';
  let selection = 'Home';
</script>

<style global>
  /* purgecss start ignore */
  @tailwind base;
  @tailwind components;
  /* purgecss end ignore */
  @tailwind utilities;

  @layer base {
    @font-face {
      font-family: 'Poppins';
      font-weight: 100;
      src: url('/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
      font-display: swap;
    }
    @font-face {
      font-family: 'Poppins';
      font-weight: 200;
      src: url('/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
      font-display: swap;
    }
    @font-face {
      font-family: 'Poppins';
      font-weight: 300;
      src: url('/fonts/Poppins/Poppins-Light.ttf') format('truetype');
      font-display: swap;
    }
    @font-face {
      font-family: 'Poppins';
      font-weight: 400;
      src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
      font-display: swap;
    }
    @font-face {
      font-family: 'Poppins';
      font-weight: 500;
      src: url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
      font-display: swap;
    }
    @font-face {
      font-family: 'Poppins';
      font-weight: 600;
      src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
      font-display: swap;
    }
    @font-face {
      font-family: 'Poppins';
      font-weight: 700;
      src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
      font-display: swap;
    }
    @font-face {
      font-family: 'Poppins';
      font-weight: 800;
      src: url('/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
      font-display: swap;
    }
    @font-face {
      font-family: 'Poppins';
      font-weight: 900;
      src: url('/fonts/Poppins/Poppins-Black.ttf') format('truetype');
      font-display: swap;
    }
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-3xl font-bold;
    }
  }
</style>

<div class="m-0 p-0 bg-gray-900 text-white font-sans">
  <Home />
  <AboutMe />
  <BackEnd />
  <FrontEnd />
  <UI />
</div>
<!-- <div class="z-10 flex flex-col justify-center absolute h-full right-2">
    <div><input type="radio" bind:group={selection} value={'Home'} /></div>
    <div><input type="radio" bind:group={selection} value={'BackEnd'} /></div>
    <div><input type="radio" bind:group={selection} value={'FrontEnd'} /></div>
    <div><input type="radio" bind:group={selection} value={'UI'} /></div>
  </div>
  <div class="static z-0">
    {#if selection == 'Home'}
      <Home />
    {:else if selection == 'BackEnd'}
      <BackEnd />
    {:else if selection == 'FrontEnd'}
      <FrontEnd />
    {:else if selection == 'UI'}
      <UI />
    {/if}
  </div> -->
